.App {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.App.center {
  align-items: center;  
}

.container {
  width: 1120px;
  display: flex;
}
.container.header-section {
  border-bottom: 2px solid #ddd;
  margin: 30px 0;
  padding: 0 0 30px 0;
  align-items: center;
}
.container.header-section .app-name {
  text-align: center;
}
.container.header-section .icon-top {
  margin-right: 30px;
}
.container.header-section .icon-top button {
  font-size: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.container.header-section .app-name .main {
  font-weight: 900;
  font-size: 30px;
}
.container.header-section .app-name .secondary {
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
}
.container.content-section {
  justify-content: space-between;
}
.container .sidebar {
  width: 300px;
}

.sidebar .profile {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
}
.sidebar .profile .thumb {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.sidebar .profile .thumb img {
  width: 100%;
}
.sidebar .profile .name {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.container .content {
  flex: 1;
  padding: 0 0 0 40px;
}
.container .content .repos-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container .content .repos-list li {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}
.container .content .repos-list li .repo-name {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.container .content .repos-list li .stats {
  display: flex;
  font-size: 80%;
}
.container .content .repos-list li .stats .language,
.container .content .repos-list li .stats .star {
  margin-right: 20px;
}

.app-title {
  text-align: center;
  margin: 0 0 20px 0;
}
.app-title .main {
  font-weight: 900;
  font-size: 40px;
}
.app-title .secondary {
  font-weight: 300;
  font-size: 35px;
  text-transform: uppercase;
}

.search-wrapper {
  border: 1px solid #000;
  width: 500px;
}
.search-wrapper form {
  display: flex;
}
.search-wrapper input {
  flex: 1;
  background-color: transparent;
  padding: 15px;
  font-size: 20px;
  border: 0;
}
.search-wrapper button {
  padding: 15px;
  border: 0;
  background-color: #111;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}