.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  text-align: center;
  margin: 0 0 20px 0;
}
.app-title .main {
  font-weight: 900;
  font-size: 40px;
}
.app-title .secondary {
  font-weight: 300;
  font-size: 35px;
  text-transform: uppercase;
}

.search-wrapper {
  border: 1px solid #000;
  width: 500px;
}
.search-wrapper form {
  display: flex;
}
.search-wrapper input {
  flex: 1;
  background-color: transparent;
  padding: 15px;
  font-size: 20px;
  border: 0;
}
.search-wrapper button {
  padding: 15px;
  border: 0;
  background-color: #111;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}